/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  .weather-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .weather-icon {
    width: 50px;
    height: 50px;
    vertical-align: middle;
  }
  
  .search-item {
    cursor: pointer;
  }
   */

   body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background: linear-gradient(to right, #ff94c2, #8f7aff);
  }
  
  h1 {
    font-weight: bold;
    color: white;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-container {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  .weather-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Media query for responsiveness */
  @media (min-width: 768px) {
    .main {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .results-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .weather-section {
      width: 45%;
    }
  }
  